<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <!-- action appends weather to url -->
    <form action="weather" method="get">
        <h1>My Weather App</h1>
        City: 
        <input type="text" name="city">
        <br>
        <button type="submit">Get Weather</button>
    </form>
</body>
</html>