<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Weather</title>
</head>
<body>
    <h1>Current Weather in City</h1>
    <div data-th-object="${weather}">
        <img data-th-src="*{icon}" data-th-alt="*{icon}">
        <p>City: <span data-th-text="*{city}"></span></p>
        <p>Description: <span data-th-text="*{description}"></span></p>
        <p>Temperature: <span data-th-text="*{temp}"></span></p>
        <p>Humidity: <span data-th-text="*{humidity}"></span></p>
        <p>Time: <span data-th-text="*{todayTime}"></span></p>
    </div>

</body>
</html>